<%= render 'top' %>


        
        <section class="tabs-all-img-hldr inner">
            <div class="container">
                <div class="row">
                    <div class="tbs-itm">
                        <ul>
                            <li class="active"><a href="artist.html">Portfolio</a></li>

                            
                            <li><a href="artist_about.html">About</a></li>
                            <li><a href="#">Following<span class="fl-lk">20</span></a></li>
                            <li><a href="#">Likes<span class="fl-lk">215</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
                             
                
                             
                           
             <!-- photos -->
             <div class="img-lstr">
             <div class="inside-section gallery" id="gallery">
                            <div class="row gallery-masonry">

                            
                        
                
                 <% @projects.each do |project| %>


                  

                    <a href="/project/<%= project.id %>" class="item col-md-15 col-sm-3" alt=""  title="">
                        
                    
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="<%=project.thumbnail  %> ">
                                         


                                    </div>
                                </a>
                                    

    
        
                    
      
                        <% end %>


 

    
            
                 <img src="project.thumbnail .gif" alt= "project.thumbnail " height="42" width="42">
                



                               
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery1.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery2.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery3.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery4.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery5.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery6.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery7.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery8.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery9.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery10.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery11.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery12.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery13.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery14.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery15.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery16.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery17.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery18.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery19.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery20.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery6.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3" alt=""  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery7.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3"  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery8.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3"  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery9.jpg">
                                    </div>
                                    
                                </a>
                                <a href="#" class="item col-md-15 col-sm-3"  title="">
                                    <div class="sg-img-hldr">
                                        <span>&nbsp;</span>
                                        <img src="images/gallery1.jpg">
                                    </div>
                                    
                                </a>

                            </div>
                        

                    </div>
                    </div>
             <!-- photos -->
        </section>