

 <div class="top-spc"></div>

        <section class="art-details-pg">
            
            <div class="art-img-det-hldr">
              

                <div class="prv-img-lrg-lst">
                    
                <a href="#"><i class="fa fa-chevron-left"></i></a>
            </div>
            

            <div class="nxt-img-lrg-lst">
                <a href="#"><i class="fa fa-chevron-right"></i></a>
            </div>
            

            <div class="col-md-7">
            <img src="<%= @project.thumbnail  %>" height="600" width="800" />
            </div>
            
             <div class="imgs-lstr">
              
                </div>
                  <div class="col-md-3">
                <div class="art-info-hldr">
                <div class="scroll-pane">
                <div class="artst-scr-inf">
                    <div class="prf-img-scr">
                        <img src="images/fl-prof.jpg">
                    </div>
                    <div class="nm-typ">
                    
                       
                        <span class="artst-nm"><a href="#"><%= @project.title %></a></span>
                        <span class="atst-typ"></span>
                    </div>
                    </div>

      
              
              

                        


                <a href="@project.like" class="button">Like</a>
                <a href="#" class="button">Follow</a>
                <a href="#" class="button">Add to collection</a>

                <div class="img-desc">
                    <h1>Ballet</h1>
                    <p>Started as an anatomy practice, turned out as a nice piece.</p>
                    <span class="pstd-dt">Posted 2 months ago</span>
                </div>
                <div class="img-lks-shr">
                                <ul>
                                    <li><i class="fa fa-pad-right fa-users"></i> Followers</li>
                                    <li><i class="fa fa-pad-right fa-thumbs-up"></i> Likes</li>
                                    <li><i class="fa fa-pad-right fa-eye"></i> Views</li>
                                    <li><i class="fa fa-pad-right fa-comments"></i>Comments</li>
                                </ul>
                </div>
                    <div class="share-art">
                    <span class='st_facebook_large' displayText='Facebook'></span>
                    <span class='st_twitter_large' displayText='Tweet'></span>
                    <span class='st_pinterest_large' displayText='Pinterest'></span>
                     </div>

                
                <div class="comments-for-art">
                    <h2><i class="fa fa-comments"></i>Comments</h2>
                    <div class="cmnts-lsts">
                        <div class="cmtr-prf-img"><img src="images/fl-prof.jpg"></div>
                        <span class="cmtr-nm"><a href="#">Phil Bale</a></span>
                        <span class="cmtr-degin">Lead Artist at Freestylegames</span>
                        <p>Hi Martin - is this a straight sculpt? What was the base mesh please? Great work btw</p>
                        <span class="cmtd-dt">2 months ago</span>
                    </div>
                    <div class="cmnts-lsts">
                        <div class="cmtr-prf-img"><img src="images/fl-prof.jpg"></div>
                        <span class="cmtr-nm"><a href="#">Phil Bale</a></span>
                        <span class="cmtr-degin">Lead Artist at Freestylegames</span>
                        <p>Hi Martin - is this a straight sculpt? What was the base mesh please? Great work btw</p>
                        <span class="cmtd-dt">2 months ago</span>
                    </div>
                    <div class="cmnts-lsts">
                        <div class="cmtr-prf-img"><img src="images/fl-prof.jpg"></div>
                        <span class="cmtr-nm"><a href="#">Phil Bale</a></span>
                        <span class="cmtr-degin">Lead Artist at Freestylegames</span>
                        <p>Hi Martin - is this a straight sculpt? What was the base mesh please? Great work btw</p>
                        <span class="cmtd-dt">2 months ago</span>
                    </div>
                    <div class="cmnts-lsts">
                        <div class="cmtr-prf-img"><img src="images/fl-prof.jpg"></div>
                        <span class="cmtr-nm"><a href="#">Phil Bale</a></span>
                        <span class="cmtr-degin">Lead Artist at Freestylegames</span>
                        <p>Hi Martin - is this a straight sculpt? What was the base mesh please? Great work btw</p>
                        <span class="cmtd-dt">2 months ago</span>
                    </div>
                </div>


              </div>






