// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .spcr {
    float: left;
    margin-top: 48px;
    width: 100%;
}